.header {
    display: flex;
	justify-content: flex-start;
	align-items: center;
    text-decoration: none;
    Width: 1440px;
    Height: 134px;
    background-color: #EDF2EC;
  }
.navbar{
    display: flex;
	justify-content: space-around;
	align-items: center;
    text-decoration: none;
    width: 1220px;
    height: 50px;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 111px;
    margin-right: 109px;
    border: solid 1px #499A18;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    line-height: 50px;
    list-style: none;
    text-decoration: none;
    width: 1240px;
  }
 .nav {
    display: flex;
	justify-content: flex-end;
	align-items: center;
    list-style: none;
    text-decoration: none;
    width: 452px;
    height: 50px;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: 109px;
  } 
 a {
    text-decoration: none;
 }
.welcome {
    width: 1440px;
    height: 532px;
    background-color: #EDF2EC;
}