body {
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto; 
    padding: 20px;
    font-size: 18px;
    background-color: rgb(245, 253, 253);
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    line-height: 50px;
    list-style: none;
    width: 1240px;
  }
  a { 
    text-decoration: none; 
    color: black;
  }
  section {
    flex-direction: column;
	  display: flex;
	  justify-content: flex-start;
	  border-left: solid #a3a5c8 2px;
    border-top: solid #a3a5c8 2px;
    width: 37%;
    height: 18rem;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #b9e2ed55;
  }
  .block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
	  width: 80%;
    padding: 10px;
    text-align:justify;
  }
  p {
    margin: 10px;
  }
  .foto {
    width: 205px;
    height: 225px;
  }
  #profile img {
    width: 100%;
    height: 100%;
  } 
  .section-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #b6cceb;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 70px;
    width: 78%;
    margin: 0 auto;
    font-size: 20px;
    border-bottom: solid #a3a5c8 2px;
    background-color: #b9e2ed55;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
  }
  #profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	  align-items: center;
    height: 300px;
    margin: 20px;
    width: 77%;
    background-color: #b6cceb;
    border-radius: 10px;
  }
  .name {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  h1, h3 {
    color: #0f168b;
  }
  .text{
    font-weight: bold;
  }
  li {
    line-height: 2;
    list-style-type: none;
  }
  /* footer
  */
  .footer {
    width: 78%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 2px #a3a5c8;
    border-bottom: solid 2px #a3a5c8;
  }
  .Github {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .Github img {
    width: 30px;
  }
  .year {
    font-weight: bold;
  }
  .rsschool {
    margin: 10px ;
  }
  .rsschool img {
    height: 30px;
  }

  
  @media screen and (max-width: 1400px) {
    section {
     width: 43%;
   }
   #profile {
     width: 90%;
   }
   .header {
    width: 90%;
   }
   .footer {
    width: 85%;
   }
 }

 @media screen and (max-width: 1010px) {
   .block {
    width: 100%;
   }
   .header {
     width: 100%;
   }
 }
 @media screen and (max-width: 840px) {
    section {
      width: 100%;
    }
    #profile {
      width: 100%;
    }
 }
 @media screen and (max-width: 700px) {
    #profile {
      height: auto;
    }
 }